/*==========================================================================================
    File Name: mod.css
    Description: modified css to beautify the appearance and customization "Portal KOMINFO".
    ----------------------------------------------------------------------------------------
    Author: Mr.Kei a.k.a HKM-EDP
    Last Modified: June 20, 2022
==========================================================================================*/

:root {
  --base-color-1  : rgba(40, 22, 111, 1);
  --base-color-2  : rgba(0, 69, 142, 1);
  --base-color-3	: rgba(0, 147, 221, 1);
  --base-color-4	: rgba(216, 237, 255, 1);
  --gradient-background : linear-gradient(90deg, rgb(0, 147, 221) 50%, rgb(40, 22, 111) 100%);
}

/*Global css*/
	html body .pace .pace-progress {
		background: var(--gradient-background);
	}

	.app-content.content {
		background-color: var(--base-color-4);
	}

	html body .content .content-wrapper {
		padding: 2.1rem 2rem;
	}

	.card-header {
		padding-bottom: 15px;
	}

	.card-header.border-bottom {
		border-color: #e9ebf5!important;
	}

	.card-header .heading-elements,
	.card-header .heading-elements-toggle {
		right: 10px;
	}

	.breadcrumb-item a:not(:hover) {
		color: #00458e;
	}

	.custom-file-label::after {
		border-radius: 0 5rem 5rem 0;
	}

	.card.card-fullscreen {
		z-index: 1040;
	}

	.shortcutMenu {
		background: linear-gradient(45deg, #28166f, #0c84d1, #4eb4f5);
	}

	.shortcutMenu .main-icon {
		font-size: 5rem;
	}
/*End Global CSS*/

/*Login CSS*/
	.login-side-1 {
      min-height: 100vh;
      background: linear-gradient(45deg, #28166f, #0c84d1, #4eb4f5);
  }

  .title-login strong {
      font-size: larger;
  }

  .login-icon {
      padding: 10px;
      border: 1px solid #cacfe7;
      font-weight: 700;
      background-color: white;
  }

  .btn-login {
      border: unset;
  }

  .btn-login:hover {
      background: linear-gradient(45deg, #28166f, #0c84d1, #4eb4f5);
      border: unset;
  }

  .link-forgot {
      font-weight: 700;
      color: white;
      text-decoration: underline;
      font-size: larger;
  }

  .link-forgot:hover {
      animation: blinker .8s linear infinite;
      color: white;
      text-decoration: underline;
  }

  @keyframes blinker {
      50% {
          opacity: 0;
      }
  }

  .login-side-2 .logo {
      max-width: 40%;
  }
/*Login CSS*/

/*Header CSS*/
	.navbar-dark {
		background : linear-gradient(90deg, rgb(0, 147, 221) 50%, rgb(40, 22, 111) 100%);
	}

	.header-navbar .navbar-header .navbar-brand .brand-logo {
		width: auto;
		height: 50px;
		padding: 2px;
		background-color: white;
		border-radius: 5rem;
	}

	.header-navbar .navbar-header .navbar-brand .brand-text {
		font-weight: 700;
	}

	.header-navbar .navbar-header .navbar-brand {
		padding: 12px 0;
	}

	.date-header {
		font-size: 12px!important;
		font-style: italic;
		pointer-events: none;
	}

	.date-header span {
		font-size: 1.15rem;
		font-style: normal;
		font-weight: 700;
		margin-left: 25px;
	}

/*End Header CSS*/

/*Navigation / Menu CSS*/
	.vertical-compact-menu .main-menu .navigation > li > a > i {
		color: var(--base-color-1);
	}

	.vertical-compact-menu .main-menu .navigation > li.active > a > i,
	.vertical-compact-menu .main-menu .navigation > li.active > a > span {
	  color: rgb(255, 255, 255);
	}

	.vertical-compact-menu .main-menu .navigation > li.active::before {
		content: '';
		position: absolute;
		right: 0;
		height: 80%;
		width: 99%;
		top: 10%;
		background: linear-gradient(45deg, #28166f, #0c84d1, #4eb4f5);
		border-radius: 20px 0 0 20px;
	}

	.vertical-compact-menu .main-menu .navigation > li.active > a {
		color: white;
		position: relative;
		width: auto;
		padding: 1.4rem 0.8rem;
		text-align: center;
		transition: all 0.2s ease;
		font-size: 1rem;
		border-right : 4px solid #00458e;
	}

/*End Navigation / Menu CSS*/

/*Button CSS*/
	.btn-info {
		background: linear-gradient(45deg, #1e9ff2, #1e9ff2, #1e9ff2);
		background-color: unset;
		border: unset;
	}

	.btn-info:hover {
		background: linear-gradient(45deg, var(--base-color-1), #1e9ff2, #36a9f3);
		background-color: unset;
		border: unset;
	}

	.btn-danger {
		background: linear-gradient(45deg, #ff4961, #ff4961, #ff4961);
		background-color: unset;
		border: unset;
	}

	.btn-danger:hover {
		background: linear-gradient(45deg, var(--base-color-1), #ff4961, #ff6377);
		background-color: unset;
		border: unset;
	}

	.btn-warning {
		background: linear-gradient(45deg, #ff9149, #ff9149, #ff9149);
		background-color: unset;
		border: unset;
	}

	.btn-warning:hover {
		background: linear-gradient(45deg, var(--base-color-1), #ff9149, #ffa063);
		background-color: unset;
		border: unset;
	}

	.btn-success {
		background: linear-gradient(45deg, #28d094, #28d094, #28d094);
		background-color: unset;
		border: unset;
	}

	.btn-success:hover {
		background: linear-gradient(45deg, var(--base-color-1), #28d094, #39d9a0);
		background-color: unset;
		border: unset;
	}

	.btn-primary {
		background: linear-gradient(45deg, #666ee8, #666ee8, #666ee8);
		background-color: unset;
		border: unset;
	}

	.btn-primary:hover {
		background: linear-gradient(45deg, var(--base-color-1), #666ee8, #7c83eb);
		background-color: unset;
		border: unset;
	}

	.btn-sm {
		margin-bottom: 2px;
	}
	
/*End Button CSS*/
	
/*Table CSS*/
	.table-striped tbody tr:hover {
		background-color: var(--base-color-4);
	}
/*End Table CSS*/

/*Carousel Announcement Css*/
	#carousel-announcement .carousel-caption {
		position: relative;
		top: 10px;
		left: 2%;
		right: 2%;
	}
	#carousel-announcement .carousel-indicators {
		bottom: -30px;
	}
	#carousel-announcement .carousel-control-prev,
	#carousel-announcement .carousel-control-next {
		top: unset;
		bottom: -30px;
		z-index: 10;
		width: unset;
	}
	#carousel-announcement .carousel-indicators li {
		background-color: var(--base-color-1);
		width: 10px;
		height: 0px;
		border-top: 5px solid transparent;
		border-bottom: 5px solid transparent;
		background-clip: unset;
		border-radius: 5rem;
	}
	#carousel-announcement .carousel-item {
		text-align: center;
	}
	#carousel-announcement .carousel-item img {
		width: 60%;
	}
	#carousel-announcement .carousel-caption h3 {
		font-weight: bold;
		color: var(--base-color-1);
	}
	#carousel-announcement .carousel-caption p {
		color: rgb(85, 85, 85);
	}

/*End Carousel Announcement Css*/

/*Modal CSS*/
	.modal-content {
		background: transparent;
	}

	.modal-header {
		background: var(--gradient-background);
	}

	.modal-title {
		color: white;
		font-weight: 600;
	}

	.modal-header .close span {
		color: aliceblue;
	}

	.modal-body,
	.modal-footer {
		background: white;
	}

/*End Modal CSS*/

/*Footer CSS*/
	.footer.footer-dark {
		background: #110648;
	}
/*End Footer CSS*/